# Highest Grossing Movies Exercise - Solutions

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [Highest Holywood Grossing Movies Dataset](https://www.kaggle.com/sanjeetsinghnaik/top-1000-highest-grossing-movies) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [14]:
import pandas as pd
import numpy as np

**Read Highest Holywood Grossing Movies.csv as a dataframe called movies.**

In [2]:
movies=pd.read_csv('Highest Holywood Grossing Movies.csv')

**Check the head of the DataFrame.**

In [3]:
movies.head()

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN

**How many rows and columns are there?**

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  918 non-null    int64
 1   Title                       918 non-null    object
 2   Movie Info                  918 non-null    object
 3   Distributor                 918 non-null    object
 4   Release Date                800 non-null    object
 5   Domestic Sales (in $)       918 non-null    int64
 6   International Sales (in $)  918 non-null    int64
 7   World Sales (in $)          918 non-null    int64
 8   Genre                       918 non-null    object
 9   Movie Runtime               918 non-null    object
 10  License                     744 non-null    object
dtypes: int64(4), object(7)
memory usage: 79.0+ KB

**Use the .describe() method to get some statistics for the numeric columns of the data**

In [5]:
movies.describe()

,Unnamed: 0,Domestic Sales (in $),International Sales (in $),World Sales (in $)
count,918.000000,9.180000e+02,9.180000e+02,9.180000e+02
mean,458.500000,1.677469e+08,2.301434e+08,3.968668e+08
std,265.148072,1.040360e+08,2.176011e+08,3.082629e+08
min,0.000000,8.036084e+07,2.600000e+02,8.160000e+07
25%,229.250000,1.016071e+08,8.845620e+07,2.005564e+08
50%,458.500000,1.321351e+08,1.638819e+08,3.019416e+08
75%,687.750000,1.913905e+08,2.885577e+08,4.750718e+08
max,917.000000,9.366622e+08,2.086739e+09,2.847246e+09

**Check if there is any missing values or not**

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  918 non-null    int64
 1   Title                       918 non-null    object
 2   Movie Info                  918 non-null    object
 3   Distributor                 918 non-null    object
 4   Release Date                800 non-null    object
 5   Domestic Sales (in $)       918 non-null    int64
 6   International Sales (in $)  918 non-null    int64
 7   World Sales (in $)          918 non-null    int64
 8   Genre                       918 non-null    object
 9   Movie Runtime               918 non-null    object
 10  License                     744 non-null    object
dtypes: int64(4), object(7)
memory usage: 79.0+ KB

**what are the average International Sales?**

In [7]:
movies['International Sales (in $)'].mean()

230143435.58496732

**what are the highest and lowest World Sales?**

In [8]:
movies['World Sales (in $)'].max()

2847246203

In [9]:
movies['World Sales (in $)'].min()

81600000

**How many films have been distributed by 'DreamWorks'?**

In [10]:
movies[movies['Distributor']=='DreamWorks']['Title'].count()

21

**What are the top 5 common distributer?**
**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )**

In [11]:
movies['Distributor'].value_counts().head()

Warner Bros.                           158
Walt Disney Studios Motion Pictures    155
Universal Pictures                     119
Twentieth Century Fox                  117
Sony Pictures Entertainment (SPE)      101
Name: Distributor, dtype: int64

**How many films have licence 'PG-13' and disributed by 'Universal Pictures'**

In [12]:
movies[(movies['Distributor']=='Universal Pictures' )&(movies['License']=='PG-13')]['Title'].count()

57

**How many films released in 2017?**

In [42]:
def get_release_year(r):
    try:
        return r[-4:]
    except:
        return np.nan

In [43]:
movies['Release_Year'] = movies['Release Date'].apply(get_release_year)

In [46]:
movies[movies['Release_Year']=='2017'].shape[0]

32

**What is the  film title with Longest runtime?**

In [ ]:
def get_movie_length(r):
    lst = r.split(' ')
    if len(lst) > 2:
        duration = (int(lst[0]) * 60 ) + int(lst[2])
    else:
        duration = int(lst[0]) * 60
    return duration

In [ ]:
movies['min']= movies['Movie Runtime'].apply(get_movie_length)

In [40]:
movies[movies['min']==movies['min'].max()]['Title']

45    The Lord of the Rings: The Return of the King ...
Name: Title, dtype: object

**What is the  film title with Shortest runtime?**

In [ ]:
movies[movies['min']==movies['min'].min()]['Title']

# Great Job!